<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>MailChimp</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'mailchimp.campaign.list' %}" class="pure-menu-link">
      <i class="fa fa-envelope-o"></i>
      Campaigns
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'mailchimp.list.list' %}" class="pure-menu-link">
      <i class="fa fa-envelope-o"></i>
      Mailing List
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'mailchimp.settings.update' %}" class="pure-menu-link">
      <i class="fa fa-cogs"></i>
      Settings
    </a>
  </div>
</div>
